<nav class="flex p-6 justify-center fixed top-0 left-0 right-0 bg-[#060513] mr-4 z-10">
  <div class="flex items-center justify-between w-[75%]">
    <div class="flex items-center space-x-4">
      <img src="assets/images/logo.svg" alt="Logo" class="h-12">
    </div>
    <div class="flex items-center gap-16">
      <a class="text-white font-extralight hover:text-[#5CCDFF] hover:cursor-pointer">
        <span class="text-[#4BA2C9] hover:cursor-pointer">01-</span> Somos</a>
      <a class="text-white font-extralight hover:text-[#5CCDFF] hover:cursor-pointer">
        <span class="text-[#4BA2C9]">02-</span> Repositorios populares</a>
      <a class="text-white font-extralight hover:text-[#5CCDFF] hover:cursor-pointer">
        <span class="text-[#4BA2C9]">03-</span> Proyectos</a>
      <a class="text-white font-extralight hover:text-[#5CCDFF] hover:cursor-pointer">
        <span class="text-[#4BA2C9]">04-</span> Eventos</a>
    </div>
  </div>
</nav>
