.custom-cursor {
  width: 800px;
  height: 800px;
  background: radial-gradient(circle farthest-corner at center, rgba(69, 148, 180, 0.14), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-radius: 80%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #B1D9EB solid 0.15em;
  border-radius: 0.25em;
  color: #B1D9EB;
  //font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #ffffff;
}

.button:active {
  border-color: #B1D9EB;
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #4CA4CA;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: #70cff8;
}

.card-hover {
  border: rgba(129, 129, 129, 0.19) solid 0.1px;
}


.card-hover:hover {
  background: rgba(129, 129, 129, 0.19);
}

.chips {
  background: rgba(53, 141, 179, 0.34);
}
