<div class="custom-cursor -z-10"></div>
<div class="flex flex-col gap-16 overflow-y-hidden mb-4">
  <div class="flex justify-center p-48 gap-4 inicio">
    <div class="flex flex-col text-white w-[75%] gap-4">
      <div class="text-2xl text-[#4CA4CA] pl-1">Hola, somos</div>
      <span class="text-6xl text-[#4CA4CA] font-bold">Binary Brains</span>
      <div class="text-2xl text-[#B1D9EB] pl-1">Club de Desarrollo de Software en UPIICSA: Aprendiendo y creciendo
        juntos en tecnología.
      </div>
      <div class="pl-1">
        <button class="button" (click)="registrar()">
          <p>Registrate</p>
        </button>
      </div>
    </div>
  </div>

  <!--  02.- Eventos proximos-->
  <div class="flex justify-center">
    <div class="flex items-center text-2xl font-bold w-[90%]">
      <div class="w-[25%] text-right font-extralight mr-2">
        <span class="text-[#4EBAE0] eventos">02-</span>Eventos próximos
      </div>
      <div class="flex-grow h-0.5 bg-white"></div>
      <div class="w-5 h-5 transform rotate-45 bg-white"></div>
    </div>
  </div>


  <!--  Card de eventos-->

  <div class="flex justify-center" (click)="evento()">
    <div class="w-1/2 card-hover cursor-pointer rounded-lg">
      <img class="w-full rounded-lg" src="assets/images/bb.webp" alt="Descripción de la imagen">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 flex justify-between">
          <span class="text-[#4CA4CA]">Binary Talks</span>
          <div class="flex flex-col justify-center items-center border-2 border-solid luma-border rounded-lg">
            <div class="text-sm bg-red-800 w-full lu-ma px-4 rounded-t-[7px] text-[#B1D9EB] ">OCT</div>
            <div class="bg-green-600 w-full lu-ma-day px-4 rounded-b-[7px] text-[#B1D9EB] ">10</div>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex gap-4">
            <div class="flex flex-col justify-center items-center border-2 border-solid luma-border rounded-lg">
              <div class="text-sm bg-red-800 w-full lu-ma px-2 rounded-t-[7px] text-[12px] text-[#B1D9EB] ">OCT</div>
              <div
                class="bg-green-600 w-full lu-ma-day px-2 rounded-b-[7px] text-[12px] flex justify-center text-[#B1D9EB] ">
                10
              </div>
            </div>
            <div class="flex flex-col">
              <span class="text-[12px] text-[#B1D9EB]">Martes, 10 de octubre</span>
              <span class="text-[12px] text-[#B1D9EB]">10:00 a 17:00</span>
            </div>
          </div>
          <div class="flex gap-4 w-1/2">
            <div
              class="flex flex-col justify-center items-center border-2 border-solid luma-border rounded-lg px-3 text-[#B1D9EB] ">
              <mat-icon>location_on</mat-icon>
            </div>
            <div class="flex flex-col">
              <span class="text-[12px] text-[#B1D9EB]">Unidad Profesional Interdisciplinaria de Ingeniería y Ciencias Sociales y Administrativas.</span>
            </div>
          </div>
        </div>
        <span class="text-base m-4 text-[#B1D9EB]">
          <p>Binary Brains trae nuevamente a diversos ponentes tales como Brujería Tech, DevCaress, Ingesaurio, Arelys
          Reyes y más. A su vez vendrán varias empresas y comunidades a los cuales podrás participar en sus actividades
          pensadas para que pases un momento divertido mientras aprendes.</p>

          <p>De preferencia trae tu laptop para que puedas estar al tanto de diversos talleres que se estarán llevando
          acabo donde podrás aprender de inteligencia artificial, Machine learning, Hacking ético y de más .a. Puedes
            agregar aquí información relevante.</p>
        </span>
      </div>
    </div>
  </div>

  <!--  03.- Repositorios populares-->

  <div class="flex justify-center">
    <div class="flex items-center text-2xl font-bold w-[90%]">
      <div class="w-5 h-5 transform rotate-45 bg-white"></div>
      <div class="flex-grow h-0.5 bg-white"></div>
      <div class="w-[25%] text-right font-extralight mr-2"><span class="text-[#4EBAE0]">03-</span>Repositorios populares
      </div>
    </div>
  </div>
  <!--  album de repositorios-->

  <div class="flex flex-row gap-4 justify-center repositorios">
    <div *ngFor="let album of albums" class="max-w-sm rounded overflow-hidden shadow-lg
    flex-shrink-0 card-hover cursor-pointer transition" (click)="repositorio(album.link)">
      <img class="w-full opacity-90" src="{{album.image}}" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-[#4CA4CA]">{{album.title}}</div>
        <p class="text-base text-[#B1D9EB]">
          {{album.description}}
        </p>
      </div>
      <div class="px-6 flex flex-wrap">
        <ng-container *ngFor="let tecnologia of album.tecnologias">
        <span class="inline-block chips rounded-full px-3 py-1 text-sm font-light text-white mr-2 mb-2">
          <span class="text-[#4CA4CA]">{{tecnologia}}</span>
        </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto flex justify-center">
    <a href="https://www.facebook.com/profile.php?id=100091984830340&_rdc=1&_rdr"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="https://twitter.com/DevsUpiics48486"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/bbupiicsa/"
       class="text-gray-400 hover:text-white mr-4 rounded-full p-2 bg-transparent"
       target="_blank">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a href="https://github.com/BinaryBrainsUPIICSA"
       class="text-gray-400 hover:text-white rounded-full p-2 bg-transparent"
       target="_blank">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</footer>


