.custom-cursor {
  width: 800px;
  height: 800px;
  background: radial-gradient(circle farthest-corner at center, rgba(69, 148, 180, 0.14), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border-radius: 80%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s;
}

.button {
  position: relative;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #4CA4CA;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.95);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, transparent 20%, #4CA4CA 20%, transparent 30%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, transparent 10%, #4CA4CA 15%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
  10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: orangeTopBubbles 0.6s ease;
}

@keyframes orangeTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
    40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
    50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
    50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, transparent 10%, #4CA4CA 15%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%),
  radial-gradient(circle, #4CA4CA 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: orangeBottomBubbles 0.6s ease;
}

@keyframes orangeBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
    70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
    105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
    110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.card-hover {
  border: rgba(129, 129, 129, 0.19) solid 0.1px;
}


.card-hover:hover {
  background: rgba(129, 129, 129, 0.14);
}

.chips {
  background: rgba(53, 141, 179, 0.34);
}

.luma-border{
  border: rgba(255, 255, 255, 0.16) solid 0.1px;
}

.lu-ma{
  background: rgba(255, 255, 255, 0.16);
}

.lu-ma-day{
  background: rgba(255, 255, 255, 0.06);
}
